<%= form_with(model: my_like, local: true) do |form| %>
  <% if my_like.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(my_like.errors.count, "error") %> prohibited this my_like from being saved:</h2>

      <ul>
      <% my_like.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :my_like_name %>
  </div>

  <div class="field">
    <%= form.label :fruit %>
    <%= form.text_field :fruit, id: :my_like_fruit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
